*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
:root {
    --cor-de-fundo: #121212; /* Preto suave para o fundo */
    --cor-do-texto: #e0e0e0; /* Cinza claro para melhor leitura */
    --cor-primaria: #493b58; /* Roxo sutil para elementos principais */
    --cor-secundaria: #03dac6; /* Verde-água para contrastes leves */
    --cor-de-destaque: #ff5252; /* Vermelho para chamar atenção */
    --cor-da-borda: #292929; /* Cinza escuro para bordas discretas */
  }

  body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-do-texto);
    overflow-x: hidden;
  }

  .navegacao{
    position: fixed;
    background-color: rgb(64, 59, 78, 0.35);
    width: 100%;
    top: 0;
    padding: 1.5rem;
    z-index: 100;
  }
  .menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}
  .menu li a{
    text-decoration: none;
    color: var(--cor-do-texto);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
  }
    .menu li a::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--cor-primaria);
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.3s;
    }
    .menu li a:hover::before{
        transform: scaleX(1);
    }
    .foto-perfil{
      
        width: 300px;
        height: 300px;
        box-shadow: 0 0 20px rgba(134, 131, 131, 0.5);
        border-radius: 50%;
        border: 4px solid rgba(255, 255, 255, 0.2);
        
    }
    .cabecalho{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
          }

h1{
 font-size: 3.5rem;
    color: var(--cor-primaria);
    font-weight: bold;
    margin: 20 px;
}
.subtitulo-home{
    font-size: 2rem;
    color: var(--cor-do-texto);
}
.sobre{
padding: 6rem 2rem;

}
.sobre-titulo{
 font-size: 3rem;
 color: var(--cor-do-texto);
  text-align: center;
  margin-bottom: 90px;
}
.sobre-caixa{
background-color: rgba(255, 255, 255, 0.05);
padding: 2rem;
max-width: 700px;
margin: 10px auto;
border-radius: 16px;
border: 2px solid var(--cor-da-borda);
backdrop-filter: blur(30px);

}
.sobre-descricao{
text-align: justify;
font-size: 1.2rem;
}
.projetos{
padding: 6rem 2rem;
}
.projetos-titulo{
  font-size: 3rem;
  color: var(--cor-do-texto);
    text-align: center;
    margin-bottom: 40px;
}
.projetos-caixa{
  display: grid;
  grid-template-columns: repeat(auto-fit, min(500px));
gap: 2rem;
max-width: 1200px;
margin: 0 auto;
justify-content: center;
}
.projetos-imagem{
  height: 200px;
  width: 100%;
  object-fit: cover;
  
}
.projetos-card{

  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 16px;
  border: 2px solid var(--cor-da-borda);
  backdrop-filter: blur(30px);
  overflow: hidden;
  transition: 0.5s all ease;
  cursor: pointer;
}
.projetos-card:hover{
  box-shadow: 0 10px 20px var(--cor-primaria);
  transform: translatey(-10px) scale(1.03);
}
.projetos-conteudo{
  padding: 1rem;
}
.subtitulo-projeto{
font-size: 2rem;
color: var(--cor-secundaria);
}
.projetos-descricao{
  font-size: 1.2rem;
  font-weight: 1.2rem;
   
}
.contatos{
padding: 6rem 2rem;
}
.contatos-titulo{
  font-size: 3rem;
  color: var(--cor-do-texto);
    text-align: center;
    margin-bottom: 40px;
}
.formulario-contato{
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid var(--cor-da-borda);
  backdrop-filter: blur(30px); 
  padding: 2rem;
  border:solid 2px var(--cor-da-borda);
  border-radius: 16px;
}
.grupo-form{
margin-bottom: 1.5rem;

}
.campo-form{
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  border: 2px solid var(--cor-da-borda);
  color: var(--cor-do-texto); 
  outline: none;
  margin-bottom: 20px;
}
.campo-form:focus{
  border: 2px solid var(--cor-primaria);
  box-shadow: 0 0 10px var(--cor-primaria);
}
.botao-form{
  color: var(--cor-do-texto);
  background: linear-gradient(90deg, var(--cor-primaria), var(--cor-secundaria));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s all ease;
  width: 100%;
 }
.botao-form:hover{
  transform: scale(1.05);
}
.particulas{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.5;

background: radial-gradient(circle at 10% 20%, var(--cor-primaria) 0%, transparent 20%),
radial-gradient(circle at 90% 80%, rgb(29, 45, 56) 0%, transparent 20%);
}